<p>
	<font size="6">Contact</font><br><br>
	<strong>Full Name:</strong>&nbsp&nbsp 
	<u>Steven Hood (Liu Hujia) </u>
</p>
<p>
	<strong>Email:</strong>&nbsp&nbsp 
	<u>liuyouzhao@hotmail.com</u>
	<u>hujia.liuhj@gmail.com</u>
</p>
<p>
	<strong>Phone Number:</strong>&nbsp&nbsp 
	<u>086-18658153597</u>
</p>
<hr width="100%" color="#DFDFDF" /><br>

<p>
	<font size="6">Education</font><br><br>
	2006-2010 Graduation from North East Univercity of China. <br>
	Bachelor Degree.<br>
	Computer Science And Technology Specialty.<br>
</p>
<hr width="100%" color="#DFDFDF" /><br>

<p>
	<font size="6">Match Results</font><br><br>
	2009 Nationwide Information Security Software Match. Top person. <br>
	2009 School Software Design Match. First Prize.<br>
</p>
<hr width="100%" color="#DFDFDF" /><br>


<!-- PIE ********************************** -->
<p>
	<font size="6">Technology Interests</font><br>
	1. Internet Of Things.<br>
	2. Business Services Platform.<br>
	3. Operation System Services.<br>
	4. Robot Controll.<br>
	5. Image Processing.<br>
	6. Graphics Programming.<br>
	(click the PIE to check values)
</p>
<!-- Graphics Model -->
<link href="style_graphics.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="jquery.min.js"></script>
<script type="text/javascript" src="pieChart.js"></script>
<div style="text-align:center;clear:both;">
</div>
<div id="container0" style="text-align:center">
	<canvas id="chart0" width="600" height="512"></canvas>
	<table id="chartData0" style="display:none;">
		<tr style="color:#EF2436">
			<td>Internet Of Things</td><td>5</td>
		</tr>
		<tr style="color:#AF3636">
			<td>Business Services Platform</td><td>4</td>
		</tr>
		<tr style="color:#ED9C13">
			<td>Operation System Services</td><td>3</td>
		</tr>
		<tr style="color:#ED5713">
			<td>Robot Controll</td><td>2</td>
		</tr>
		<tr style="color:#CF244F">
			<td>Image Processing</td><td>1</td>
		</tr>
		<tr style="color:#2FBE4F">
			<td>Graphics Programming</td><td>1</td>
		</tr>
	</table>
</div>
<!-- Graphics Model End -->
<hr width="100%" color="#DFDFDF" /><br>

<script type="text/javascript">

pieChart("chartData0", "chart0");

window.onloadPage = function(section) {
  if(typeof pieChart === 'function' && section == '1') {
  	pieChart("chartData0", "chart0");
  }
}

</script>


<p>
	<font size="6">Personal Interests</font><br><br>
	Write AI code for fun. Robot Controlling.<br>
	Smart Device DIY.<br>
	Game Programming.<br>
	Compose Music.<br>
</p>
<hr width="100%" color="#DFDFDF" /><br>