<!--<p>
	<font size="6">Contact</font><br><br>
	<strong>Full Name:</strong>&nbsp&nbsp 
	<u>Steven Hood (Liu Hujia) </u>
</p>
<p>
	<strong>Email:</strong>&nbsp&nbsp 
	<u>liuyouzhao@hotmail.com</u>
	<u>hujia.liuhj@gmail.com</u>
</p>
<p>
	<strong>Phone Number:</strong>&nbsp&nbsp 
	<u>086-18658153597</u>
</p>-->
<hr width="100%" color="#DFDFDF" /><br>

<p>
	<font size="6">Education</font><br><br>
	<img src="./neu.jpg" /><br>
	2006-2010 Graduation from North East Univercity of China. <br>
	<br>
	Computer Science And Technology Specialty.<br>

</p>

<hr width="100%" color="#DFDFDF" /><br>
<p>
	<font size="6">Match Results</font><br><br>
	2009 Nationwide Information Security Software Match. Top person. <br>
	2009 School Software Design Match. First Prize.<br>
</p>
<hr width="100%" color="#DFDFDF" /><br>
<p>
	<font size="6">Projection Abilities</font><br>
	<img src="./code_ability.jpg" style="width:80%"/><br>
	<img src="./macrosopic.jpg" style="width:80%"/><br>

<!-- PIE ********************************** -->
<p>
	<font size="6">Technology Expeirence</font><br>
	1. Internet Of Things Platform.(2 years)<br>
	2. Service Platform.(4 years)<br>
	3. Operation System HAL/Services.(5 years)<br>
	4. Graphics Programming.(2 year)<br>
	5. Image Processing.(1 year)<br>
	6. Robot Controll.(0.5 year)<br>
</p>
<p>
	Expeirence Ratio
</p>
<!-- Graphics Model -->
<link href="style_graphics.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="jquery.min.js"></script>
<script type="text/javascript" src="pieChart.js"></script>
<div style="text-align:center;clear:both;">
</div>
<div id="container0" style="text-align:center">
	<canvas id="chart0" width="600" height="512"></canvas>
	<table id="chartData0" style="display:none;">
		<tr style="color:#EF2436">
			<td>Internet Of Things Platform</td><td>3</td>
		</tr>
		<tr style="color:#AF3636">
			<td>Service Platform</td><td>5</td>
		</tr>
		<tr style="color:#ED9C13">
			<td>Operation System HAL/Services</td><td>9</td>
		</tr>
		<tr style="color:#2FBE4F">
			<td>Graphics Programming</td><td>3</td>
		</tr>
		<tr style="color:#CF244F">
			<td>Image Processing</td><td>2</td>
		</tr>
		<tr style="color:#ED5713">
			<td>Robot Controll</td><td>1</td>
		</tr>
	</table>
</div>
<!-- Graphics Model End -->
<p>
Internet Of Things: <br>
	<img src="./iot.JPG" style="width:50%"/><br>
	A platform of devices multi-nodes system, totel solution of terminals and cloud.<br> 
    1. How to let so many devices being controlled together.<br>
    2. How to route the large amount of data from so many sensors.<br><br>
Business Services Platform: <br>
	Like Alipay&Taobao business services center platform serverside.<br>
	1. Service Container. <br>
	2. High Speed RPC Framework.
</p>

<hr width="100%" color="#DFDFDF" /><br>

<script type="text/javascript">

pieChart("chartData0", "chart0");

window.onloadPage = function(section) {
  if(typeof pieChart === 'function' && section == '1') {
  	pieChart("chartData0", "chart0");
  }
}

</script>


<p>
	<font size="6">Personal Interests</font><br><br>
	Write AI code for fun. Robot Controlling.<br>
	Smart Device DIY.<br>
	Game Programming.<br>
	Compose Music.<br>
</p>
<hr width="100%" color="#DFDFDF" /><br>