<!--<canvas id="title_canvas0" style="background-color:#AFAFAF">
</canvas>
<a href="#index-content" class="cd-scroll">Scroll Down</a>
<script type="text/javascript" src="index_header_render.js"></script>
<script type="text/javascript">
index_header_letsGo();
window.onloadHeader = function(section) {
	if(section == "1") {
		index_header_letsGo();
	}
}
</script>-->

<div class="cd-title">

	<h1><%=header%></h1>
	<h2><%=title%></h2>
	<span><%=footer%></span>
</div>
<a href="#index-content" class="cd-scroll">Scroll Down</a>