<p>
	<font size="6">Works in companies</font><br><br>
	2010-Now, Alibaba Group, Taobao Software company, OS Business Unit.<br><br>
	The year 2010, I joined Aliyun company which belongs to Alibaba Group.<br>
	<img src="./aliyun.png" /><br>
	I worked in Aliyun to implement the Barcode Detecting Algorithm.<br><br>
	Device QRCode Detect Framework, C++ implement, supports java API.<br>
	We used the gesture of marks to optimize the detecting rate while the camera is not upright the QRCode.<br>
	Even in an excessive degree.<br>
	<img src="./barcode.png" /><br><br>
</p>
<hr width="100%" color="#DFDFDF" /><br><br>
<p>
	The year 2011, I joined the team to develop Mobile OS in YunOS Team, which belongs to Aliyun Company.<br>
	We began to develop an OS based on linux, which called YunOS.<br>
	<img src="./yunos.png" /><br><br>
</p>
<p>
	(1) Year 2011-2012, WebApp Framework, C++ webkit kernel with optimize, 3D engine inside, can load a lot of kinds of webapps.<br>
	You can write 3D App in Javascript inside a website, it is not WEBGL but followed the API.<br>
	It can be seen as independent framework based on webkit and linux window system just like x-window,  QT, and even in android.<br>
	<u>The performance is much better than any WEBGL implements on mobiles in the early year 2011.</u><br>
	Then we applied for a patent.<br>
	There were 4 people in our team, I was the team leader, to design the code of the framework.<br>
	Webapp store:<br>
	<img src="./webapp.png" /><br><br>
	In the early stage, we do the performance test in mips PAD with a weak hardware. <br>
	<img src="./cloudx1.png" /><br>
	In the late stage, we can implement or port a lot of funny 3D Javascript Apps onto our framework.<br>
	<img src="./cloudx2.png" /><br>
	<hr width="100%" color="#DFDFDF" /><br><br>
</p>

<p>
	(2) Year 2012-2013, I joined YunOS Security Team, where I did a lot of work in linux kernel system api reinforce.<br>
	We straightly modified the kernel api implements, appended a lot of logic there, and actively contolled the permissions of all users in the linux kernel. We compiled the kernel by ourselves and port to the each device of our products. <br>
	<hr width="100%" color="#DFDFDF" /><br><br>
</p>

<p>
	(3) Year 2013-2014, we made up a Fingerprint Framework for our OS. For both the security and the good experience, we use the framework to unlock our mobile's desktop. <br>
	<u>Let Alipay do the payment with your finger. </u><br>
	Newmine Fastener Mobile <br>
	<img src="./niukou.png"/><br>
	<hr width="100%" color="#DFDFDF" /><br><br>
</p>

<p>
	(4) Year 2014-2015, we developed an OS on Smart Watch.<br>
	I was the PM and main coder of the OS. I owned the development of system services in C/C++, maintain of Javascript Engine(V8), implements of the IPC(Inter-process Communication).<br>
	System Services are linux deamon processes. We did IPC with ioctl to call binder driver, and used local socket to transfer large data, shared memory to share data. System Services contains audio, power, battery, window-management, offline payment and bluetooth. System GUI is not my work, but my teamates followed my design of services framework.<br>
	<img src="./services.png" /><br>
	<u>The Offline Alipay is the High Light Feature.</u><br>
	<img src="./wobang2.png" />
	<img src="./wobang1.png" />
</p>
<hr width="100%" color="#DFDFDF" /><br><br>
<p>
	The Main View of my job infomation.<br>
	<img src="./cool.png" style="width:120%;height:410px"/>
</p>
<hr width="100%" color="#DFDFDF" /><br>
<p>
	<font size="6">Interests</font><br><br>
	Complex logic programming. Abstracting all kinds of business. <br>
	Algorithm Implementation.<br>
	Electronic Business Platform Design and Implementation.<br>
	Linux System Programming. <br>
	Write AI code for fun. Robot Controlling.<br>
	Smart Device DIY.<br>
	Graphics Programming, Image Processing. <br>
	Game Programming.<br>
	Compose Music.<br>
</p>