<link rel="stylesheet" href="index_form_style.css"> <!-- CSS reset -->
<h1 class="odform-tit"><img src="ok.png">操作成功！</h1>
<div class="odform">
	3秒后自动跳转...如不跳转，请点这里:<br>
	<a href="/invite/2">跳！</a>
</div>